*.*~
*.log
*loa
*.toc
*.ps
*.dvi
*.lot
*.ilg
*.ind
*.lof
*.bbl
*.aux
*.blg
C_client.pdf
cassa_readwrite.jpg
cassandra_rw.odg
cassandra_rw.pdf
cassaresult.xcf
cf.odg
chapter4.pdf

chapter4.tex.backup
data_model.pdf
lfc.pdf
papers/How will traffic visibility play a role in Software-Defined Networking (SDN)? - Mike Patterson.htm
papers/How will traffic visibility play a role in Software-Defined Networking (SDN)? - Mike Patterson_files/
Patterson_filespapers/netmap.pdf
papers/p95-russell.pdf
pdfuoh.pdf

